<html>

	{% include meta.html %}

	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto|Monda&display=swap" rel="stylesheet">	
		<link rel="stylesheet" type="text/css" href="/style.css" />
		{% include analytics.html %}
		<style>
			#navigation>div:nth-child(1){
				font-size:20px;
				text-decoration:underline;
			}
		</style>
	
	</head>
	<body>
		<div id="outer_wrapper">
			<div id="inner_wrapper">
					<div id="top_bar">
						<span id="logo" class="noselect" >randomposts</span>
					</div>
					
					<div id="left_bar">
						<span id="logo" class="noselect" >randomposts</span>
						
						
						<div id="navigation">
							<div><a href="{{site.baseurl}}/" >Posts</a></div>
							<div><a href="{{site.baseurl}}/about/index.html" >About me</a></div>
						</div>
					</div>
					<div id="content" >
						<div id="header" >
							<h2>Posts </h2>
						</div>
						<div id="body">
						
						 {% for post in site.posts %}
							<div class="card" onclick="go('{{ site.baseurl }}{{ post.url }}')" >
								<div class="card_header" >
									{{ post.title }}
								</div>
								<div class="card_body">
									{{ post.excerpt }}
								</div>
								<div class="card_footer">
									
								</div>
							</div>
						 {% endfor %}
													
							
						</div>
					</div>
			</div>
		</div>
		
		<script>
		function go(p){
			location.href=p;
		}
		</script>
		
	</body>
</html>