<html>

	{% include meta.html %}

	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto|Monda&display=swap" rel="stylesheet">	
		<link rel="stylesheet" type="text/css" href="/style.css" />
		{% if site.environment == "production" %}
		{% include analytics.html %}
		{% endif %}	
	</head>
	<body>
		<div id="outer_wrapper">
			<div id="inner_wrapper">
					<div id="top_bar">
						<span id="logo" class="noselect" >randomposts</span>
					</div>
					
					<div id="left_bar">
						<span id="logo" class="noselect" >randomposts</span>
						
						
						<div id="navigation">
						</div>
					</div>
					<div id="content" >
						<div id="header" >
							<h1>Posts </h1>
						</div>
						<div id="body" >
						
						 {% for post in site.posts %}
							<div class="card" onclick="go('{{ site.baseurl }}{{ post.url }}')" >
								<div class="card_header" >
									{{ post.title }}
								</div>
								<div class="card_body">
									{{ post.card_info }}
								</div>
								<div class="card_footer">
									
								</div>
							</div>
						 {% endfor %}
						</div>
					</div>
			</div>
		</div>
		
		<script>
		function go(p){
			location.href=p;
		}
		</script>
		
	</body>
</html>