<html>

	{% include meta.html %}

	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto|Monda&display=swap" rel="stylesheet">	
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<style>
			#navigation>div:nth-child(1){
				font-size:20px;
				text-decoration:underline;
			}
		</style>
	
	</head>
	<body>
		<div id="outer_wrapper">
			<div id="inner_wrapper">
					<div id="top_bar">
						<span id="logo" class="noselect" >randomposts</span>
					</div>
					
					<div id="left_bar">
						<span id="logo" class="noselect" >randomposts</span>
						
						
						<div id="navigation">
							<div><a href="{{site.baseurl}}/" >Posts</a></div>
							<div><a href="{{site.baseurl}}/about/index.html" >About me</a></div>
						</div>
					</div>
					<div id="content" >
						<div id="header" >
							<h2>Posts </h2>
						</div>
						<div id="body">
						
						 {% for post in site.posts %}
							<div class="card" onclick="go('{{ site.baseurl }}{{ post.url }}')" >
								<div class="card_header" >
									{{ post.title }}
								</div>
								<div class="card_body">
									{{ post.excerpt }}
								</div>
								<div class="card_footer">
									
								</div>
							</div>
						 {% endfor %}
						
							<div class="card" onclick="go()" >
								<div class="card_header" >
									Intro to Ray tracing
								</div>
								<div class="card_body">
									In computer graphics, ray tracing is a rendering technique for generating an image by tracing the path of light as pixels in an image plane and simulating the effects of its encounters with virtual objects.
								</div>
								<div class="card_footer">
									
								</div>
							</div>
							
							<div class="card">
								<div class="card_header" >
									Guide to neural networks
								</div>
								<div class="card_body">
									Neural networks are a set of algorithms, modeled loosely after the human brain, that are designed to recognize patterns.
								</div>
								<div class="card_footer">
									
								</div>
							</div>
							
							<div class="card">
								<div class="card_header" >
									Tensorflow image detection
								</div>
								<div class="card_body">
									An open source machine learning library for research and production.
								</div>
								<div class="card_footer">
									
								</div>
							</div>							
							
							<div class="card">
								<div class="card_header" >
									This is a sample post for length
								</div>
								<div class="card_body">
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
								</div>
								<div class="card_footer">
									
								</div>
							</div>
							
							<div class="card">
								<div class="card_header" >
									This is a sample post
								</div>
								<div class="card_body">
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
								</div>
								<div class="card_footer">
									
								</div>
							</div>								
							
							<div class="card">
								<div class="card_header" >
									This is a sample post
								</div>
								<div class="card_body">
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
								</div>
								<div class="card_footer">
									
								</div>
							</div>
							
							<div class="card">
								<div class="card_header" >
									This is an another sample post
								</div>
								<div class="card_body">
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
								</div>
								<div class="card_footer">
									
								</div>
							</div>
							
							<div class="card">
								<div class="card_header" >
									This is a sample post about working
								</div>
								<div class="card_body">
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
								</div>
								<div class="card_footer">
									
								</div>
							</div>							
							
							<div class="card">
								<div class="card_header" >
									This is a sample post for length
								</div>
								<div class="card_body">
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
								</div>
								<div class="card_footer">
									
								</div>
							</div>
							
							<div class="card">
								<div class="card_header" >
									This is a sample post
								</div>
								<div class="card_body">
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
									This is a sample blog content and lot of content will be added here later
								</div>
								<div class="card_footer">
									
								</div>
							</div>															
							
						</div>
					</div>
			</div>
		</div>
		
		<script>
		function go(p){
			location.href=p;
		}
		</script>
		
	</body>
</html>