<html>

	{% include meta.html %}

	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto|Monda&display=swap" rel="stylesheet">	
		<link rel="stylesheet" type="text/css" href="/style.css" />
		{% if site.environment == "production" %}
		{% include analytics.html %}
		{% endif %}
		
	</head>
	<body>
		<div id="outer_wrapper">
			<div id="inner_wrapper">
					<div id="top_bar">
						<span id="logo" class="noselect" >randomposts</span>
					</div>
					
					<div id="left_bar">
						<span id="logo" class="noselect" >randomposts</span>
						
						<div id="navigation">
						
							<div><a href="/index.html" >
								<i class="far fa-arrow-alt-circle-left"></i>
							</a></div>
							
						</div>
						
					</div>
					<div id="content" >
						<div id="header" >
							<h2>{{ page.title }}</h2>
						</div>
						<div id="body">
							{{ content }}
						</div>
					</div>
			</div>
		</div>
	</body>
	<script src="https://kit.fontawesome.com/09469026d3.js" crossorigin="anonymous"></script>
</html>